# ===================================
# Cloudflare -global API- Bilgileri #
# ===================================
CF_API_KEY=
CF_EMAIL=
CF_ACCOUNT_ID=


# ===================================
# Mail Gondersin Mi?                #
# ===================================
MAIL_ENABLED=true
# Resend or SMTP
MAIL_PROVIDER=smtp

# Ortak From bilgisi (Resend veya SMTP'den hangisi kullanılırsa kullanılsın)
MAIL_FROM="CF-AuditWatcher <noreply@example.com>"

# Resend
# RESEND_API_KEY=
# RESEND_FROM=

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false


# ===================================================
# Mail Alicilari (virgul koyarak bosluk birakmadan) #
# ===================================================
ALERT_EMAILS=aaa@example.com,bbb@example.com


# ===================================
# Slack Bildirimi Olsun Mu?         #
# ===================================
SLACK_ENABLED=true
SLACK_WEBHOOK=