# =========================
# Node.js
# =========================
node_modules/
dist/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment files
# =========================
.env
.env.*
#!.env.example

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/

# =========================
# PM2
# =========================
pids/
*.pid
*.pid.lock

# =========================
# Build / Artifacts
# =========================
*.class
*.jar
*.war
target/

# =========================
# Python (opsiyonel ama harmless)
# =========================
*.py[cod]

# =========================
# Large media (opsiyonel)
# =========================
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# =========================
# Executables
# =========================
*.app
*.exe

# =========================
# Test reports
# =========================
TEST*.xml